@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

header {
    background-color: #000000;
    color: #fff;
    display: flex;
    padding: 0px 40px;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    flex-shrink: 0; /* Evita que o logo encolha */
    display: flex;
    margin: auto;
}

.header-logo img {
    height: 36px;
    width: 132px;
    margin-right: 200px; /* Mantém o logo na posição desejada */
}

.header-nav {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: auto;
}

.header-nav a {
    color: #f5f4f4;
    text-decoration: none;
    padding: 30px 11px 31px 11px;
    font-weight: 800;
    font-size: 15px;
}

.header-nav a:hover {
    color: #1DB954; /* Verde do Spotify */
    text-decoration: none;
}

.separator {
    border-left: 2px solid #fff;
    height: 20px;
    margin: 0 10px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: transparent;
    color: white;
    padding: 5px 10px;
    font-weight: 600;
    font-size: 15px;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #2f2e2e;
    min-width: 350px;
    margin-top: 29px;
    line-height: 25px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    font-size: 18px;
    padding: 32px 25px;
    text-decoration: none;
    display: block;
}

.dropdown-content a p {
    color: #bdb3b3;
    font-size: 11px;
    font-family: "DM Sans", sans-serif;
    font-weight: bold;
    line-height: 18px;
    margin-top: 6px;
}


.dropdown-content a:hover {
    background-color: black;
    color: white;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.principal{
    background-image: url(https://www.scdn.co/i/free/bubbles-dktp.svg), linear-gradient(-45deg, rgb(108, 14, 224) -5%, rgb(240, 55, 166));
    height: 600px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.principal .aplicativo{
    grid-column: 1/3;
    display: flex;
    position: relative; 
    justify-content: right;
    align-items: flex-end;
}

.aplicativo .celular{
    max-width: 374px;
    height: 574px;
    margin: 0 58px -74px 0;
    position: absolute;
    z-index: 1;
}

.aplicativo .fundo-celular{
    max-width: 270px;
    height: 442px;
    margin-right: 65px;
    position: relative;
    z-index: 3;
}

.principal .baixar{
    grid-column: 3/6;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 150px;
    padding: 32px 0px 0px 4%;
}

.baixar h1{
    grid-column: 1/4;
    grid-row: 2/3;
    font-size: 60px;
    font-weight: bold;
    color: #fff;
}

.baixar .botao{
    grid-column: 1/4;
    grid-row: 3/4;
    display: flex;
    align-items: center;
    justify-content: left;
    margin-top: 96px;
}

.botao #baixar_btn{
    padding: 15px 35px;
    border: none;
    border-radius: 35px;
    cursor: pointer;
    word-spacing: 1px;
    font-weight: 600;
    font-size: 15px;
    background-color: white;
}

.botao #baixar_btn:hover{
    font-weight: bold;
    font-size: 18px;
}

.segundo-bloco{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 624px;
    background-color: #fff;
}

.segundo-bloco .segundo{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 156px;
    max-width: 1140px;
}

.segundo h2{
    grid-column: 1/5;
    grid-row: 1/2;
    display: flex;
    flex-direction: row;   
    justify-content: center;
    padding-top: 77px;
    font-weight: 600;
    font-size: 39px;
    z-index: 2;
}

.segundo .favoritas{
    grid-column: 1/2;
    grid-row: 2/5;
    display: flex;
    text-align: center;
    flex-direction: column;
    padding: 26px 0px 0px 10px;
}

.favoritas img{
    width: 145px;
    height: 145px;
    margin: 10px auto;
}

.favoritas h3{
    margin-top: 28px;
    font-size: 20px;
    font-family: "DM Sans", sans-serif;
    font-weight: bold;
}

.favoritas p{
    margin: 10px auto;
    width: 245px;
    font-family: "Radio Canada Big", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.segundo .playlist{
    grid-column: 2/3;
    grid-row: 2/5;
    display: flex;
    text-align: center;
    flex-direction: column;
    padding-top: 26px;
}

.playlist img{
    width: 145px;
    height: 145px;
    margin: 10px auto;
}

.playlist h3{
    margin-top: 28px;
    font-size: 20px;
    font-family: "DM Sans", sans-serif;
    font-weight: bold;
}

.playlist p{
    margin: 10px auto;
    width: 235px;
    font-family: "Radio Canada Big", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.segundo .coracao{
    grid-column: 3/4;
    grid-row: 2/5;
    display: flex;
    text-align: center;
    flex-direction: column;
    padding: 26px 8px 0px 0px;
}

.coracao img{
    width: 145px;
    height: 145px;
    margin: 10px auto;
}

.coracao h3{
    margin-top: 28px;
    font-size: 20px;
    font-family: "DM Sans", sans-serif;
    font-weight: bold;
}

.coracao p{
    margin: 10px auto;
    width: 235px;
    font-family: "Radio Canada Big", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.segundo .economia{
    grid-column: 4/5;
    grid-row: 2/5;
    display: flex;
    text-align: center;
    flex-direction: column;
    padding: 26px 10px 0px 0px;
}

.economia img{
    width: 145px;
    height: 145px;
    margin: 10px auto;
}

.economia h3{
    margin-top: 28px;
    font-size: 20px;
    font-family: "DM Sans", sans-serif;
    font-weight: bold;
    line-height: 28px;
}

.economia p{
    margin: 10px auto;
    width: 235px;
    font-family: "Radio Canada Big", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.terceiro{
    height: 500px;
    background-image: linear-gradient(rgb(176, 35, 194) 15%, rgb(96, 11, 231));
    display: flex;
    flex-direction: column;
}

.terceiro h2{
    text-align: center;
    margin: auto;
    color: white;
    font-size: 48px;
}

.faq {
    font-family: sans-serif;
    min-height: 472px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    margin: 70px auto 46px auto;
    max-width: 1140px;
}

.faq h2 {
    font-size: 40px;
    align-self: center;
    margin-bottom: 75px;
}

.pergunta {
    background: white;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    padding: 28px 30px;
    border: none;
    text-align: left;
    transition: 0.4s;
    border-bottom: 1px solid #F2F2F2;
    position: relative;
}

.arrow {
    font-size: 16px;
    font-family: Arial, sans-serif;
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%) rotate(180deg);
    transition: transform 0.3s;
    color: #333;
    vertical-align: middle;
    width: 24px;
    height: 24px;
}

.pergunta.active .arrow {
    transform: translateY(-50%) rotate(360deg);
}

.panel p,
.panel ol li {
    font-size: 1rem;
    font-family: "Radio Canada Big", sans-serif;
}

.panel p{
    margin: 10px 13px 22px 13px;
}

.panel ol li {
    margin-left: 42px;
}

.active,
.pergunta:hover {
    text-decoration: underline;
    background-color: #F6F6F6;
    transition: 0.1s;
}

.panel {
    padding: 0 18px;
    margin-bottom: 20px;
    margin-top: 5px;
    background-color: white;
    display: none;
    overflow: hidden;
}

strong {
    color: #14873c;
    font-weight: 600;
}

.gostou{
    height: 450px;
    background-image: url(https://www.scdn.co/i/free/lets-play.svg), linear-gradient(-45deg, rgb(108, 14, 224) 16%, rgb(240, 55, 166));
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.gostou h2{
    text-align: center;
    font-size: 80px;
    font-family: "DM Sans", sans-serif;
    color: white;
    padding-top: 140px;
}

.gostou .botao #baixar_btn{
    padding: 15px 32px;
    border: none;
    border-radius: 35px;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    margin-top: 30px;
}

.botao #baixar_btn:hover{
    font-size: 17px;
    font-weight: bold;
}

footer{
    height: 600px;
    background-color: black;
    padding: 80px 0 50px 0;
    unicode-bidi: isolate;
}

.rodape{
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    max-width: 1170px;
    unicode-bidi: isolate;
}

.rodape .spotify-rodape{
    flex: 0 0 auto;
    width: 16.66666667%;
    min-height: 346px;
    padding: 0 15px;
}

.spotify-rodape a .logo-rodape{
    height: 36px;
    width: 132px;
    display: inline-block;
}

.rodape .links-rodape{
    width: 50%;
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;
    font-family: "DM Sans", sans-serif;
}

.links-rodape ul{
    padding: 0 15px;
    flex: 1 0;
}

.links-rodape ul h2{
    margin: 20px 0;
    color: #919496;
    font-size: 12px;
    font-weight: 900;
    line-height: 1.4;
    letter-spacing: .08em;
    text-transform: uppercase;
}

.links-rodape ul li{
    list-style: none;
    display: list-item;
}

.links-rodape ul li a{
    padding: 3px 0 15px;
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    line-height: 1.5;
    text-decoration: none;
    cursor: pointer;
}

.links-rodape ul li a:hover{
    color: #1ed760;
}

.rodape .redes-rodape{
    margin: 0 15px 0 auto;
}

.redes-rodape ul{
    margin: 20px 0 0;
}

.redes-rodape ul .logo-rede{
    margin-right: 10px;
    display: inline-block;
}

.redes-rodape ul .logo-facebook{
    display: inline-block;
}

.redes-rodape ul li a{
    border-radius: 50%;
    background-color: #222326;
    width: 54px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.redes-rodape ul li a img {
    width: 24px;
    height: 24px;
}

.redes-rodape ul li a:hover img{
    filter: invert(55%) sepia(68%) saturate(750%) hue-rotate(85deg) brightness(92%) contrast(101%);
}

.rodape .regiao{
    margin: 0 15px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.regiao a{
    padding: 1em 0;
    font-size: 12px;
    color: #919496;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    white-space: nowrap;
    text-decoration: none;
}

.regiao a:hover{
    color: #1ed760;
}

.regiao a svg{
    margin: 0 8px 0 0;
    width: 12;
    height: 13;
    overflow: hidden;
}

.privacidade{
    width: 100%;
    display: flex;
}

.privacidade ul{
    margin: 0 45px 0 0;
    padding: 0 0 0 15px;
}

.privacidade ul li{
    margin-right: 24px;
    list-style: none;
    display: inline-block;
    line-height: normal;
    letter-spacing: 0;
}

.privacidade ul li a{
    padding: 1em 0;
    font-size: 12px;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    white-space: nowrap;
    text-decoration: none;
    color: #919496;
}

.privacidade ul li a:hover{
    color: #1ed760;
}

.privacidade span{
    margin: 0 15px 0 auto;
    padding: 1em 0;
    font-size: 12px;
    flex-shrink: 0;
    color: #919496;
}

@media screen and (max-width: 1264px){
    .baixar h1{
        font-size: 56px;
    }

    .baixar .botao{
        margin-top: 93px;
    }

    .faq {
        max-width: 1025px;
    }
}

@media screen and (max-width: 1115px){
    .baixar h1{
        font-size: 50px;
    }

    .baixar .botao{
        margin-top: 90px;
    }

    .faq {
        max-width: 940px;
    }

}

@media screen and (max-width: 1041px){
    .gostou h2{
        padding-top: 94px;
    }
}

